.App {
  text-align: center;
  width:100%;
  height:100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-submenu > .ant-menu{
  background-color: #323332;
  text-align: center;
  color:#ffffff
}

a{
  color:#e5e5e5
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
  width:calc(100%)
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color:#1890ff

}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  border:none
}


/* 隐藏滚动条 */
::-webkit-scrollbar {display:none}